.wikimate-story {
  min-height: 100px;
  padding: 5px;
}

.wikimate-story .item {
}

.wikimate-story .item .plain-text-editor {
  font-size: 1em;
  line-height: 1em; /*must have, used for calculate textarea expected text height*/
  overflow: hidden;
  min-height: 50px;
  width: 99%;
}
