.wikimate {
  min-height: 100px;
}

.wikimate .item {
}

.wikimate .item .item-handle {
  background-image: url("./../images/drag_hand.png");
  position: absolute;
  right: 5px;
  top: 5px;
  height: 16px;
  width: 16px;
  display: none;
}

.wikimate .item .item-action-bar {
  position: absolute;
  right: 28px;
  bottom: 5px;
  height: 16px;
  width: 16px;
  display: none;
}

.wikimate .item .item-content {
  position: relative;
}

.wikimate .item .item-content:hover { 
  background-color: #FFFFEE;
  box-shadow: 0 0 5px rgba(255,102,0,0.5);
}

.wikimate .item .plain-text-editor {
  background-color: #FFFFEE;
  font-size: 1em;
  line-height: 1em; /*must have, used for calculate textarea expected text height*/
  overflow: hidden;
  min-height: 50px;
}
