
.one_column_layout {
  margin: 10px 0 10px 0;
  min-width: 150px;
  border: 1px solid #CCC;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.one_column_layout h2 {
  border: 0;
  border-bottom: 1px dotted #CCC;
  padding: 10px 0;
  margin: 0 10px 10px 10px;
  font-weight: 300;
}

.wikimate-layout-panel {
  padding: 10px;
  min-height: 200px;
}

.wikimate-inline-editor {
  width: 99%;
  border: 1px solid #CCC;
  display: inline;
  font-size: 12px;
  outline: none;
  padding: 4px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
